{% extends 'grumblr/base.html' %}
{% block navigationbar %}
                    <div class="navbar-header">
                        <a href="/post"><img src="/static/grumblr/images/3.png" height="80" width="400" alt=/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <form action="/profile" method="get">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <button type="submit" class="btn btn-link">Profile</button>
                                </li>
                            </ul>
                        </form>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form action="/logout">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <button type="submit" class="btn btn-link">Log out</button>
                            </li>
                        </ul>
                    </form>
                </div>
                    </div>


{% endblock %}


{% block maincontent %}
        <div class="container center_div2">
        <form action="/editprofile" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col-lg-6">
                <h3> Edit Profile...</h3>
                <br>
                {% if form.errors %}
                {% for error in form.non_field_errors %}
                <H4>{{error}}</H4>
                <br> {% endfor %}
                {% endif %}
                {% for field in form.visible_fields %}
                {{field.label_tag}}
                {{field}}
                {% endfor %}
                </div>
                <div class="row">
                    <div class="form-group btn-block col-lg-6">
                        <button type="submit" class="btn btn-primary btn-block btn-xs" name = "editUserData" value="editUserData">Submit</button>
                    </div>
                </div>
                {% csrf_token %}   
                </form>
                <div class="row">
                    <form method = "POST" action ="/editprofile" enctype="multipart/form-data">
                    <div class="form-group btn-block col-lg-6">
                        {% if form1.errors %}
                        {% for error1 in form1.non_field_errors %}
                        <H4>{{error1}}</H4>
                        <br> {% endfor %}
                        {% endif %}
                        {% for field1 in form1.visible_fields %}
                        {{field1}}
                        {% endfor %}
                        <br>
                        <button type="submit" class="btn btn-primary btn-block btn-xs">Upload</button>
                    </div>
                    {% csrf_token %}  
                </form>
                </div>
                </div>
{% endblock %}
       