{% extends 'grumblr/base.html' %}

{% block navigationbar %}
     <div class="navbar-header">
            <a href="/login"><img src="/static/grumblr/images/3.png" height="80" width="400" alt=/></a> 
    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <form action="/login" method="get">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <button type="submit" class="btn btn-link">Login</button>
                                </li>
                            </ul>
                        </form>
                    </div>
               
{% endblock %} 
{% block jumbotron %}
            <center>
            <div class="jumbotron">
            <h1 class="blog-text">EAT. SLEEP. BLOG...</h1>
            </div>
            </center>
{% endblock %} 


{% block maincontent %}
<div class="container center_div">
  <form action="/forgotPassword" method="post">
            <div class="row">
                <div class="form-group">
                {% if errors %}
                {% for error in errors%}
                <H4>{{error}}</H4>
                <br> {% endfor %}
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{form}}
                </div>
            </div>   
            <div class="row">
                <div class="form-group btn-block">
                    <button type="submit" class="btn btn-primary btn-block btn-xs">
                        Submit</button>
                </div>
            </div>
            {% csrf_token %}
            </form>
           </div> 
{% endblock %}


