{% extends 'grumblr/base.html' %}

{% block navigationbar %}
     <div class="navbar-header">
            <a href="{% url 'login' %}"><img src="/static/grumblr/images/3.png" height="80" width="400" alt=/></a> 
    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <form action="{% url 'login' %}" method="get">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <button type="submit" class="btn btn-link">Login</button>
                                </li>
                            </ul>
                        </form>
                    </div>
               
{% endblock %} 
{% block jumbotron %}
            <center>
            <div class="jumbotron">
            <h1 class="blog-text">EAT. SLEEP. BLOG...</h1>
            </div>
            </center>
{% endblock %} 


{% block maincontent %}
 <div class="container center_div">
<form action="{% url 'index' %}" method="post">
            <div class="row">
                <div class="form-group">
                {% for error in form.non_field_errors %}
                <H4>{{error}}</H4>
                <br> {% endfor %}
                {% for field in form.visible_fields %}
                {% for error in field.errors %}
                <H4>{{error}}</H4>
                <br> {% endfor %}
                {% endfor %}
                {% for field in form.visible_fields %}
                {{field.label_tag}}
                {{field}}

                {% endfor %}
                </div>
                </div>
                <div class="row">
                    <div class="form-group btn-block">
                        <button type="submit" class="btn btn-primary btn-block btn-xs">Sign up</button>
                    </div>
                </div>
                {% csrf_token %}   
                </form>
                <div class="row">
                    <form method = "get" action ="{% url 'login' %}">
                    <div class="form-group btn-block">
                        <button type="submit" class="btn btn-link btn-block btn-xs">Back to Login</button>
                    </div>
                    </form>
                </div>
                </div>
            </form>
{% endblock %}


